<div class="content">
  <div class="routingButtons">
    <mat-list>
      <mat-list-item><button class="btn btn-info sidNavButtons"><a routerLink="/newContract">New Contract</a></button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button class="btn btn-info sidNavButtons"><a routerLink="/newBooking">New Booking</a></button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button class="btn btn-info sidNavButtons">Show Contract</button></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <br>
    <br>

  </div>

</div>
